/*!
 * @version : 1.0
 * @date    : Jul 15, 2014, 6:18:27 PM
 * @author  : SKR
 */


#JaxerAjaxLoader10 {
   background: transparent url('https://ershakiransari.github.io/cdn/images/gif/loader-001.gif');
   background-position: center;
   background-repeat: no-repeat, repeat;
   height: 32px;
   width: 100px;
   padding: 8px 0;
   position: fixed;
   text-align: center;
   vertical-align: middle;
   z-index: 99992;

   -webkit-border-radius: 0 0 10px 10px;
      -moz-border-radius: 0 0 10px 10px;
           border-radius: 0 0 10px 10px;
   -webkit-box-shadow: 0 0 5px #555;
      -moz-box-shadow: 0 0 5px #555;
           box-shadow: 0 0 5px #555;
}

#JaxerAjaxLoader10Overlay {
   background-image: url(b1.png);
   cursor: wait;
   height: 100%;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   width: 100%;
   z-index: 99991;
}
#JaxerAjaxLoader10Overlay input {
   background: transparent;
   border: none;
   display: none;
   height: 1px;
   outline: none;
   width: 1px;
}
